{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center text ">长风站库</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p class="lead text-center">
            <a class="btn btn-danger btn-lg" href="#" role="button">收录了：234234个站点</a>
        </p>
    </div>
    <form>

        <div class="row">

            <div class="col-md-6 offset-md-2">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info">站库一下</button>
            </div>
        </div>
    </form>
    <hr class="my-5">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">我的站库</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">最新搜索</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
               aria-controls="nav-contact" aria-selected="false">最新收录</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
               aria-controls="nav-contact" aria-selected="false">最新词语</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>

</div>
{% endblock %}
