{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center text ">长风站库</h1>
            <p class="lead">长风站库是一个以网站为单位的搜索引擎，我们每天都会搜集互联网上的网站加入这个庞大的数据库，如果您想要得到您想要的网站，不防‘站库一下’！</p>

            <p class="lead text-center">
                <a class="btn btn-danger" href="#" role="button">收录了：234234个站点</a>
            </p>
        </div>
        <form>

            <div class="row">

                <div class="col-md-6 offset-md-2">
                    <div class="input-group input-group-lg">

                        <input type="text" class="form-control" aria-label="Large"
                               aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info btn-lg">站库一下</button>
                </div>
            </div>
        </form>
        <hr class="my-5">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">我的站库</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">最新搜索</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">最新收录</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">最新词语</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div>

    </div>
{% endblock %}
