{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <form>

            <div class="row">

                <div class="col-md-6 offset-md-2">
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info">站库一下</button>
                </div>
            </div>
        </form>

        <hr class="my-4">
        <div class="row">
            <div class="col-md-9">

                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">网站标题</h5>
                        {{ web.title }}
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">网站关键词</h5>
                        {{ web.keywords }}
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">网站描述</h5>
                        {{ web.desc }}
                    </div>
                </div>



                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">收藏</button>
                    <button type="button" class="btn btn-secondary">Middle</button>
                    <button type="button" class="btn btn-secondary">Right</button>
                </div>

            </div>

            <div class="col-md-3">
                大家艘
            </div>
        </div>
        <hr class="my-4">
        相关站点
    </div>
{% endblock %}
