# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = robot.settings



[deploy:scrapy_zhanku]
#部署主机地址
url = http://106.14.213.123:6800/addversion.json
project = robot